body {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.login{
    margin: 0 auto;
    background: rgba(255,255,255, 0.2);
    top: 5% !important;
    margin-bottom: 500px;
}
.brand{
    width: 150px;
    margin: 20px auto;
    position: relative;
    display: block;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    display: block;
    margin: 20px;
}
/* input{
    width: 70%;
    margin: 5px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    border: none;
} */

button{
    width: 100px;
    height: 35px;
    margin: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background: #fff;
}